* text=auto eol=lf
*.ps1 text eol=crlf
*.dll binary
*.meta text eol=lf whitespace=-blank-at-eol
*.asset text eol=lf whitespace=-blank-at-eol
*.unity text eol=lf whitespace=-blank-at-eol
Client/Assets/_DEV/_Scripts/Network/Generated/*.cs linguist-generated=true

*.lib binary
*.exe binary
ProtocolBuffer/cpp/* linguist-generated=true
ProtocolBuffer/csharp/* linguist-generated=true
